*{
    
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}
.lateral{
    width: 25%;
    height: 100vh;
    background-color: rgb(10, 10, 10);
    border-right: 1px solid rgb(118, 9, 9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 60px;
    
}
.main {
    padding-top: 60px; 
    width: 75%;
    margin-left: 25%;
    background-color: rgb(19, 19, 19);
    overflow-y: auto;
    height: 100vh;
  }
.go-home{
    color: rgb(255, 255, 255);
    font-size: 20px;
    
}
.casellaGiorno{
width: 100px;
height: 100px;
background-color: rgb(37, 11, 11);
}
.calendar{
    width: 75%;
    margin-left: 25%; 
    background-color: rgb(19, 19, 19);
    overflow-y: auto; 
    height: 100vh;
}
.homeLink{
    margin-top: 10vh ;
}


@media (max-width: 991px) {
    .lateral {
      width: 100%;
      height: auto;
      position: fixed;
      bottom: 0;
      margin-top: 0;
      z-index: 1000;
    }
  
    .main,
    .calendar {
      width: 100%;
      margin-left: 0;
    }
  }

  .loginCard{
    width: 400px;
    height: 400px;
    background-color: #9BC4BC;
    border-radius: 10px;
    margin-top: 22vh;
    box-shadow: 0px 0px 5px 0px rgba(48, 48, 48, 0.75);
  }
  .registerCard{
    width: 400px;
    height: 600px;
    background-color: #9BC4BC;
    border-radius: 10px;
    margin-top: 15vh;
    box-shadow: 0px 0px 5px 0px rgba(48, 48, 48, 0.75);
  }
  .btn-search{
    height: 33px;
    margin-top: 3px;
  }
  .arrowsCalendar:hover{
cursor: pointer;
transform: scale(1.2);

  }
  .badgeDay{
    width: 40px;
    height: 40px;
  }

  .chatLines{
    background-color: rgb(215, 215, 193);
    min-height: 60vh;
    margin-inline: 5% ;   
  }

  .chatBox{
    width: 200px;
    height: 30px;
    background-color: #9BC4BC;
    
    position: fixed;
    bottom: 0; 
    right: 100px;
    width: 15%; 
    z-Index: 1000;
    border-radius: 5px 5px 0 0;
  }